.navbar {
  width: 100%;
  height: auto;
  background-color: #9986fa;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  font-size: 12px;
}

.navbar ul {
  list-style: none;
}

.link {
  margin-right: 10px;
}

.logo img {
  width: 60px;
  height: 55px;
  border-radius: 10px;
  margin-top: 2px;
}

.title {
  font-size: 25px;
  color: rgb(255, 208, 64);
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke: 1px rgb(18, 50, 167);
}

.basket {
  background-color: #9986fa;
  margin-right: 5px;
  border: none;
}

@media (min-width: 768px) {
  .navbar {
    width: 100%;
    height: 100px;
  }

  .logo img {
    width: 100px;
    height: 90px;
  }

  .title {
    font-size: 45px;
    -webkit-text-stroke: 2px rgb(18, 50, 167);
  }

  .link {
    margin-right: 20px;
  }

  .navbar a {
    font-size: 18px;
  }
}
