.navbar {
  padding: 1rem;
  background-color: #9986fa;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.navbar li:hover {
  background-color: rgb(18, 50, 167);
}

.navbar a {
  text-decoration: none;
  color: aliceblue;
  font-size: 12px;
}

.link li {
  padding: 5px;
  border-radius: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  padding: 1rem;
  padding-right: 0;
  list-style: none;
}

.logo {
  width: 5rem;
  border-radius: 10px;
  margin-top: 2px;
  animation: rotating 5s linear infinite;
}

.title {
  font-size: 25px;
  color: rgb(255, 208, 64);
  font-family: "Pokemon Solid", sans-serif;
  -webkit-text-stroke: 1px rgb(18, 50, 167);
}

.basket {
  background-color: #9986fa;
  margin-right: 5px;
  border: none;
}

@media (min-width: 768px) {
  .navbar {
    height: 100px;
  }

  .logo {
    width: 100px;
    height: 90px;
  }

  .title {
    font-size: 45px;
    -webkit-text-stroke: 2px rgb(18, 50, 167);
  }

  .navbar a {
    font-size: 18px;
  }
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
