.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: small;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  background-color: #9986fa;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  gap: 1rem;
}

.netWork {
  gap: 1rem;
  width: 2rem;
  padding: 1rem;
}

.columnOne {
  margin: 1rem;
  align-items: center;
}

.columnOne p {
  font-size: 14px;
}

.columnTwo p {
  font-size: 14px;
}

.fantome {
  position: absolute;
  height: 20%;
  animation: move 8s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(1200px);
  }

  100% {
    transform: translateX(-1200px);
  }
}

@media (max-width: 768px) {
  .fantome {
    position: absolute;
    animation: move 7s linear infinite;
  }
  @keyframes move {
    0% {
      transform: translateX(780px);
    }

    100% {
      transform: translateX(-780px);
    }
  }
}
