.pokedeck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cards {
  border-radius: 10px;
  border: solid #9986fa 3px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.myCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
