.cardList {
  position: relative;
  background-color: #33303b;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0;
  padding: 1rem;
}

.search {
  display: flex;
  flex-direction: row;
}
