body {
  margin: 0;
  padding: 0;
  background-image: url(../src/assets/backpurple.jpg);
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: row;
}

body.active-modal {
  overflow-y: hidden;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
